@import '../neat/neat-helpers'; // or '../neat/neat-helpers' when not in Rails

// Neat Overrides
// $column: 90px;
// $gutter: 30px;
$grid-columns: 8;
// $max-width: em(1088);

// Neat Breakpoints
$small-screen: em(480);
$medium-screen: em(768);

$max-width: $medium-screen;
$min-width: $small-screen;

// Display grid
$visual-grid: true;
$visual-grid-color: #ccc;

$tablet: new-breakpoint(max-width $medium-screen 8);
$mobile: new-breakpoint(max-width $small-screen 4);