body {
	padding-top: 50px;
}

.starter-template {
	padding: 40px 15px;
	text-align: center;
}

#map {
	max-width: 100%;
	/*height: auto;*/
	height: 405px; /* TODO: On home, make this 16x9 below medium, and 3x2 at medium and above. On session page, make this always 16x9. */
	margin-bottom: 10px;
}

#footer {
	margin: 10px 0;
}