body {
	padding-top: 50px;
}

.starter-template {
	padding: 40px 15px;
	text-align: center;
}

#map {
	max-width: 100%;
	min-height: 240px; 
	height: auto;
	/*height: 240px;*/
	margin-bottom: 10px;
}

#footer {
	margin: 10px 0;
}