@charset "UTF-8";
/* Bitters 0.10.0
 * http://bitters.bourbon.io
 * Copyright 2013–2014 thoughtbot, inc.
 * MIT License */
button,
input[type="submit"] {
  -webkit-font-smoothing: antialiased;
  background-color: #ff4a26;
  border-radius: 3px;
  color: white;
  display: inline-block;
  font-size: 1em;
  font-weight: bold;
  line-height: 1;
  padding: 0.75em 1em;
  text-decoration: none; }
  button:hover,
  input[type="submit"]:hover {
    background-color: #d82400;
    color: white; }
  button:disabled,
  input[type="submit"]:disabled {
    cursor: not-allowed;
    opacity: 0.5; }

body {
  -webkit-font-smoothing: antialiased;
  background-color: whitesmoke;
  color: #333333;
  font-family: "Courier New", Courier, monospace;
  font-size: 1em;
  line-height: 1.5; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "JeanLucWeb-Thin", sans-serif;
  line-height: 1.25;
  margin: 0;
  text-rendering: optimizeLegibility; }

h1 {
  font-size: 2.25em; }

h2 {
  font-size: 2em; }

h3 {
  font-size: 1.75em; }

h4 {
  font-size: 1.5em; }

h5 {
  font-size: 1.25em; }

h6 {
  font-size: 1em; }

p {
  margin: 0 0 0.75em; }

a {
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  transition: color 0.1s linear;
  color: #ff4a26;
  text-decoration: none; }
  a:hover {
    color: #d82400; }
  a:active, a:focus {
    color: #d82400;
    outline: none; }

hr {
  border-bottom: 1px solid #cccccc;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.5em 0; }

img,
picture {
  margin: 0;
  max-width: 100%; }

blockquote {
  border-left: 2px solid #cccccc;
  color: #595959;
  margin: 1.5em 0;
  padding-left: 0.75em; }

cite {
  color: #737373;
  font-style: italic; }
  cite:before {
    content: "\2014 \00A0"; }

fieldset {
  background: #e6e6e6;
  border: 1px solid #cccccc;
  margin: 0 0 0.75em 0;
  padding: 1.5em; }

input,
label,
select {
  display: block;
  font-family: "Courier New", Courier, monospace;
  font-size: 1em; }

label {
  font-weight: bold;
  margin-bottom: 0.375em; }
  label.required:after {
    content: "*"; }
  label abbr {
    display: none; }

textarea,
input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"],
select[multiple=multiple] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: border-color;
  -moz-transition: border-color;
  transition: border-color;
  background-color: white;
  border-radius: 3px;
  border: 1px solid #cccccc;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  font-family: "Courier New", Courier, monospace;
  font-size: 1em;
  margin-bottom: 0.75em;
  padding: 0.5em 0.5em;
  width: 100%; }
  textarea:hover,
  input[type="email"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="url"]:hover, input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="month"]:hover, input[type="time"]:hover, input[type="week"]:hover,
  select[multiple=multiple]:hover {
    border-color: #b3b3b3; }
  textarea:focus,
  input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus,
  select[multiple=multiple]:focus {
    border-color: #ff4a26;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(255, 53, 12, 0.7);
    outline: none; }

textarea {
  resize: vertical; }

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }

input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

input[type="file"] {
  padding-bottom: 0.75em;
  width: 100%; }

select {
  margin-bottom: 1.5em;
  max-width: 100%;
  width: auto; }

table {
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #a6a6a6;
  font-weight: bold;
  padding: 0.75em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #cccccc;
  padding: 0.75em 0; }

tr,
td,
th {
  vertical-align: middle; }

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none; }
dl {
  margin-bottom: 0.75em; }
  dl dt {
    font-weight: bold;
    margin-top: 0.75em; }
  dl dd {
    margin: 0; }

button,
input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: none;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body:before {
  content: '';
  display: inline-block;
  background-image: deprecated-webkit-gradient(linear, left top, left bottom, transparent 0, #cccccc 0, #cccccc 9.36867%, transparent 9.36867%, transparent 12.94733%, #cccccc 12.94733%, #cccccc 22.316%, transparent 22.316%, transparent 25.89467%, #cccccc 25.89467%, #cccccc 35.26334%, transparent 35.26334%, transparent 38.842%, #cccccc 38.842%, #cccccc 48.21067%, transparent 48.21067%, transparent 51.78933%, #cccccc 51.78933%, #cccccc 61.158%, transparent 61.158%, transparent 64.73666%, #cccccc 64.73666%, #cccccc 74.10533%, transparent 74.10533%, transparent 77.684%, #cccccc 77.684%, #cccccc 87.05267%, transparent 87.05267%, transparent 90.63133%, #cccccc 90.63133%, #cccccc 100.0%, transparent 100.0%);
  background-image: -webkit-linear-gradient(left, transparent 0, #cccccc 0, #cccccc 9.36867%, transparent 9.36867%, transparent 12.94733%, #cccccc 12.94733%, #cccccc 22.316%, transparent 22.316%, transparent 25.89467%, #cccccc 25.89467%, #cccccc 35.26334%, transparent 35.26334%, transparent 38.842%, #cccccc 38.842%, #cccccc 48.21067%, transparent 48.21067%, transparent 51.78933%, #cccccc 51.78933%, #cccccc 61.158%, transparent 61.158%, transparent 64.73666%, #cccccc 64.73666%, #cccccc 74.10533%, transparent 74.10533%, transparent 77.684%, #cccccc 77.684%, #cccccc 87.05267%, transparent 87.05267%, transparent 90.63133%, #cccccc 90.63133%, #cccccc 100.0%, transparent 100.0%);
  background-image: -moz-linear-gradient(left, transparent 0, #cccccc 0, #cccccc 9.36867%, transparent 9.36867%, transparent 12.94733%, #cccccc 12.94733%, #cccccc 22.316%, transparent 22.316%, transparent 25.89467%, #cccccc 25.89467%, #cccccc 35.26334%, transparent 35.26334%, transparent 38.842%, #cccccc 38.842%, #cccccc 48.21067%, transparent 48.21067%, transparent 51.78933%, #cccccc 51.78933%, #cccccc 61.158%, transparent 61.158%, transparent 64.73666%, #cccccc 64.73666%, #cccccc 74.10533%, transparent 74.10533%, transparent 77.684%, #cccccc 77.684%, #cccccc 87.05267%, transparent 87.05267%, transparent 90.63133%, #cccccc 90.63133%, #cccccc 100.0%, transparent 100.0%);
  background-image: -ms-linear-gradient(left, transparent 0, #cccccc 0, #cccccc 9.36867%, transparent 9.36867%, transparent 12.94733%, #cccccc 12.94733%, #cccccc 22.316%, transparent 22.316%, transparent 25.89467%, #cccccc 25.89467%, #cccccc 35.26334%, transparent 35.26334%, transparent 38.842%, #cccccc 38.842%, #cccccc 48.21067%, transparent 48.21067%, transparent 51.78933%, #cccccc 51.78933%, #cccccc 61.158%, transparent 61.158%, transparent 64.73666%, #cccccc 64.73666%, #cccccc 74.10533%, transparent 74.10533%, transparent 77.684%, #cccccc 77.684%, #cccccc 87.05267%, transparent 87.05267%, transparent 90.63133%, #cccccc 90.63133%, #cccccc 100.0%, transparent 100.0%);
  background-image: -o-linear-gradient(left, transparent 0, #cccccc 0, #cccccc 9.36867%, transparent 9.36867%, transparent 12.94733%, #cccccc 12.94733%, #cccccc 22.316%, transparent 22.316%, transparent 25.89467%, #cccccc 25.89467%, #cccccc 35.26334%, transparent 35.26334%, transparent 38.842%, #cccccc 38.842%, #cccccc 48.21067%, transparent 48.21067%, transparent 51.78933%, #cccccc 51.78933%, #cccccc 61.158%, transparent 61.158%, transparent 64.73666%, #cccccc 64.73666%, #cccccc 74.10533%, transparent 74.10533%, transparent 77.684%, #cccccc 77.684%, #cccccc 87.05267%, transparent 87.05267%, transparent 90.63133%, #cccccc 90.63133%, #cccccc 100.0%, transparent 100.0%);
  background-image: linear-gradient(left, transparent 0, #cccccc 0, #cccccc 9.36867%, transparent 9.36867%, transparent 12.94733%, #cccccc 12.94733%, #cccccc 22.316%, transparent 22.316%, transparent 25.89467%, #cccccc 25.89467%, #cccccc 35.26334%, transparent 35.26334%, transparent 38.842%, #cccccc 38.842%, #cccccc 48.21067%, transparent 48.21067%, transparent 51.78933%, #cccccc 51.78933%, #cccccc 61.158%, transparent 61.158%, transparent 64.73666%, #cccccc 64.73666%, #cccccc 74.10533%, transparent 74.10533%, transparent 77.684%, #cccccc 77.684%, #cccccc 87.05267%, transparent 87.05267%, transparent 90.63133%, #cccccc 90.63133%, #cccccc 100.0%, transparent 100.0%);
  height: 100%;
  left: 0;
  margin: 0 auto;
  max-width: 48em;
  opacity: 0.4;
  position: fixed;
  right: 0;
  width: 100%;
  pointer-events: none;
  z-index: -1; }
  @media screen and (max-width: 48em) {
    body:before {
      background-image: deprecated-webkit-gradient(linear, left top, left bottom, transparent 0, #cccccc 0, #cccccc 9.36867%, transparent 9.36867%, transparent 12.94733%, #cccccc 12.94733%, #cccccc 22.316%, transparent 22.316%, transparent 25.89467%, #cccccc 25.89467%, #cccccc 35.26334%, transparent 35.26334%, transparent 38.842%, #cccccc 38.842%, #cccccc 48.21067%, transparent 48.21067%, transparent 51.78933%, #cccccc 51.78933%, #cccccc 61.158%, transparent 61.158%, transparent 64.73666%, #cccccc 64.73666%, #cccccc 74.10533%, transparent 74.10533%, transparent 77.684%, #cccccc 77.684%, #cccccc 87.05267%, transparent 87.05267%, transparent 90.63133%, #cccccc 90.63133%, #cccccc 100.0%, transparent 100.0%);
      background-image: -webkit-linear-gradient(left, transparent 0, #cccccc 0, #cccccc 9.36867%, transparent 9.36867%, transparent 12.94733%, #cccccc 12.94733%, #cccccc 22.316%, transparent 22.316%, transparent 25.89467%, #cccccc 25.89467%, #cccccc 35.26334%, transparent 35.26334%, transparent 38.842%, #cccccc 38.842%, #cccccc 48.21067%, transparent 48.21067%, transparent 51.78933%, #cccccc 51.78933%, #cccccc 61.158%, transparent 61.158%, transparent 64.73666%, #cccccc 64.73666%, #cccccc 74.10533%, transparent 74.10533%, transparent 77.684%, #cccccc 77.684%, #cccccc 87.05267%, transparent 87.05267%, transparent 90.63133%, #cccccc 90.63133%, #cccccc 100.0%, transparent 100.0%);
      background-image: -moz-linear-gradient(left, transparent 0, #cccccc 0, #cccccc 9.36867%, transparent 9.36867%, transparent 12.94733%, #cccccc 12.94733%, #cccccc 22.316%, transparent 22.316%, transparent 25.89467%, #cccccc 25.89467%, #cccccc 35.26334%, transparent 35.26334%, transparent 38.842%, #cccccc 38.842%, #cccccc 48.21067%, transparent 48.21067%, transparent 51.78933%, #cccccc 51.78933%, #cccccc 61.158%, transparent 61.158%, transparent 64.73666%, #cccccc 64.73666%, #cccccc 74.10533%, transparent 74.10533%, transparent 77.684%, #cccccc 77.684%, #cccccc 87.05267%, transparent 87.05267%, transparent 90.63133%, #cccccc 90.63133%, #cccccc 100.0%, transparent 100.0%);
      background-image: -ms-linear-gradient(left, transparent 0, #cccccc 0, #cccccc 9.36867%, transparent 9.36867%, transparent 12.94733%, #cccccc 12.94733%, #cccccc 22.316%, transparent 22.316%, transparent 25.89467%, #cccccc 25.89467%, #cccccc 35.26334%, transparent 35.26334%, transparent 38.842%, #cccccc 38.842%, #cccccc 48.21067%, transparent 48.21067%, transparent 51.78933%, #cccccc 51.78933%, #cccccc 61.158%, transparent 61.158%, transparent 64.73666%, #cccccc 64.73666%, #cccccc 74.10533%, transparent 74.10533%, transparent 77.684%, #cccccc 77.684%, #cccccc 87.05267%, transparent 87.05267%, transparent 90.63133%, #cccccc 90.63133%, #cccccc 100.0%, transparent 100.0%);
      background-image: -o-linear-gradient(left, transparent 0, #cccccc 0, #cccccc 9.36867%, transparent 9.36867%, transparent 12.94733%, #cccccc 12.94733%, #cccccc 22.316%, transparent 22.316%, transparent 25.89467%, #cccccc 25.89467%, #cccccc 35.26334%, transparent 35.26334%, transparent 38.842%, #cccccc 38.842%, #cccccc 48.21067%, transparent 48.21067%, transparent 51.78933%, #cccccc 51.78933%, #cccccc 61.158%, transparent 61.158%, transparent 64.73666%, #cccccc 64.73666%, #cccccc 74.10533%, transparent 74.10533%, transparent 77.684%, #cccccc 77.684%, #cccccc 87.05267%, transparent 87.05267%, transparent 90.63133%, #cccccc 90.63133%, #cccccc 100.0%, transparent 100.0%);
      background-image: linear-gradient(left, transparent 0, #cccccc 0, #cccccc 9.36867%, transparent 9.36867%, transparent 12.94733%, #cccccc 12.94733%, #cccccc 22.316%, transparent 22.316%, transparent 25.89467%, #cccccc 25.89467%, #cccccc 35.26334%, transparent 35.26334%, transparent 38.842%, #cccccc 38.842%, #cccccc 48.21067%, transparent 48.21067%, transparent 51.78933%, #cccccc 51.78933%, #cccccc 61.158%, transparent 61.158%, transparent 64.73666%, #cccccc 64.73666%, #cccccc 74.10533%, transparent 74.10533%, transparent 77.684%, #cccccc 77.684%, #cccccc 87.05267%, transparent 87.05267%, transparent 90.63133%, #cccccc 90.63133%, #cccccc 100.0%, transparent 100.0%); } }
  @media screen and (max-width: 30em) {
    body:before {
      background-image: deprecated-webkit-gradient(linear, left top, left bottom, transparent 0, #cccccc 0, #cccccc 19.43277%, transparent 19.43277%, transparent 26.85574%, #cccccc 26.85574%, #cccccc 46.28851%, transparent 46.28851%, transparent 53.71149%, #cccccc 53.71149%, #cccccc 73.14426%, transparent 73.14426%, transparent 80.56723%, #cccccc 80.56723%, #cccccc 100%, transparent 100%);
      background-image: -webkit-linear-gradient(left, transparent 0, #cccccc 0, #cccccc 19.43277%, transparent 19.43277%, transparent 26.85574%, #cccccc 26.85574%, #cccccc 46.28851%, transparent 46.28851%, transparent 53.71149%, #cccccc 53.71149%, #cccccc 73.14426%, transparent 73.14426%, transparent 80.56723%, #cccccc 80.56723%, #cccccc 100%, transparent 100%);
      background-image: -moz-linear-gradient(left, transparent 0, #cccccc 0, #cccccc 19.43277%, transparent 19.43277%, transparent 26.85574%, #cccccc 26.85574%, #cccccc 46.28851%, transparent 46.28851%, transparent 53.71149%, #cccccc 53.71149%, #cccccc 73.14426%, transparent 73.14426%, transparent 80.56723%, #cccccc 80.56723%, #cccccc 100%, transparent 100%);
      background-image: -ms-linear-gradient(left, transparent 0, #cccccc 0, #cccccc 19.43277%, transparent 19.43277%, transparent 26.85574%, #cccccc 26.85574%, #cccccc 46.28851%, transparent 46.28851%, transparent 53.71149%, #cccccc 53.71149%, #cccccc 73.14426%, transparent 73.14426%, transparent 80.56723%, #cccccc 80.56723%, #cccccc 100%, transparent 100%);
      background-image: -o-linear-gradient(left, transparent 0, #cccccc 0, #cccccc 19.43277%, transparent 19.43277%, transparent 26.85574%, #cccccc 26.85574%, #cccccc 46.28851%, transparent 46.28851%, transparent 53.71149%, #cccccc 53.71149%, #cccccc 73.14426%, transparent 73.14426%, transparent 80.56723%, #cccccc 80.56723%, #cccccc 100%, transparent 100%);
      background-image: linear-gradient(left, transparent 0, #cccccc 0, #cccccc 19.43277%, transparent 19.43277%, transparent 26.85574%, #cccccc 26.85574%, #cccccc 46.28851%, transparent 46.28851%, transparent 53.71149%, #cccccc 53.71149%, #cccccc 73.14426%, transparent 73.14426%, transparent 80.56723%, #cccccc 80.56723%, #cccccc 100%, transparent 100%); } }

/* ==========================================================================
   WF loading
   ========================================================================== */
/**
 * Font events for web fonts loaded with Typekit and/or Google's
 * WebFont Loader to control the Flash of Unstyled Text (FOUT)
 */
.wf-loading {
  opacity: 0; }

.wf-active {
  transition: opacity .16s ease-in-out;
  opacity: 1; }

.wf-inactive {
  opacity: 1; }

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html,
button,
input,
select,
textarea {
  color: #222; }

html {
  font-size: 1em;
  line-height: 1.4; }

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */
audio,
canvas,
img,
video {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
   Fonts
   ========================================================================== */
/* @font-face declarations */
@font-face {
  font-family: 'JeanLucWeb-Bold';
  src: url("../fonts/jeanlucweb-bold.eot");
  src: local("☺"), url("../fonts/jeanlucweb-bold.woff") format("woff"), url("../fonts/jeanlucweb-bold.otf") format("opentype"), url("../fonts/jeanlucweb-bold#webfontup15foyj") format("svg"); }
@font-face {
  font-family: 'JeanLucWeb-Thin';
  src: url("../fonts/jeanlucweb-bold.eot");
  src: local("☺"), url("../fonts/jeanlucweb-thin.woff") format("woff"), url("../fonts/jeanlucweb-thin.otf") format("opentype"), url("../fonts/jeanlucweb-thin#webfontdsa4toug") format("svg"); }
/*
The Jean-Luc typeface was designed and made by Atelier Carvalho Bernau on the occasion of the 80th birthday of Jean-Luc Godard. It is available free of charge from http://www.carvalho-bernau.com/jlg/

Jean-Luc typeface Copyright (c) 2010 Atelier Carvalho Bernau
*/
/* ==========================================================================
   Custom styles
   ========================================================================== */
html {
  background-color: whitesmoke; }

.container {
  position: relative;
  max-width: 48em;
  margin-left: auto;
  margin-right: auto; }
  .container:after {
    content: "";
    display: table;
    clear: both; }

h2 {
  position: relative;
  display: block;
  padding: 0.15em 0.55em 0.15em;
  font-size: 1.5em;
  background-color: white;
  border-top: 1px solid #cccccc; }

.title h2 {
  font-size: 2em; }
  .title h2 span {
    font-size: 0.75em;
    display: block;
    padding-bottom: 0.25em;
    color: #999999; }

.map-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  background-color: #000; }

#map {
  position: absolute;
  cursor: default;
  z-index: 1;
  width: 100%;
  height: 100%; }
  #map .controls {
    display: inline;
    overflow: hidden;
    position: absolute;
    z-index: 2;
    height: 50px;
    bottom: 10px;
    right: 10px; }
    #map .controls a {
      position: relative;
      display: block;
      float: right;
      color: #ff4a26;
      text-decoration: none;
      height: 50px;
      width: 50px;
      background-color: #cccccc; }
      #map .controls a:hover {
        background-color: #fed81a; }
      #map .controls a img {
        position: absolute;
        width: 22px;
        height: 34px;
        top: 50%;
        left: 50%;
        margin-top: -17px;
        margin-left: -9px; }
    #map .controls #previous_button {
      margin-right: 2px; }
      #map .controls #previous_button img {
        margin-left: -13px; }
    #map .controls #next_button img {
      -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      -o-transform: rotate(180deg);
      transform: rotate(180deg); }

.leaflet-container {
  font: 0.8em/1em "Courier New", Courier, monospace !important; }

.leaflet-popup {
  max-width: 300px; }

.leaflet-popup-content-wrapper {
  border-radius: 0 !important; }
  .leaflet-popup-content-wrapper p a {
    color: #ff4a26; }

.tagline .container {
  background-color: #fedf43;
  max-width: 48em;
  margin-left: auto;
  margin-right: auto;
  padding: 2em 0; }
  .tagline .container:after {
    content: "";
    display: table;
    clear: both; }
  .tagline .container #logo a {
    display: block;
    width: 60px;
    height: 60px;
    margin: 0 auto; }
    .tagline .container #logo a img {
      display: block;
      width: 100%;
      height: 100%; }
  .tagline .container p {
    float: left;
    display: block;
    margin-right: 3.57866%;
    width: 74.10533%;
    margin-left: 12.94733%;
    text-align: center;
    padding: 1em 1em 0;
    color: #ff4a26; }
    .tagline .container p:last-child {
      margin-right: 0; }
    @media screen and (max-width: 30em) {
      .tagline .container p {
        float: left;
        display: block;
        margin-right: 7.42297%;
        width: 100%;
        margin-left: 0%; }
        .tagline .container p:last-child {
          margin-right: 0; } }
    .tagline .container p a {
      text-decoration: underline; }
  .tagline .container .app-store-badge {
    clear: both;
    overflow: hidden;
    display: block;
    width: 113px;
    height: 40px;
    margin: 1em auto 0; }
    .tagline .container .app-store-badge img {
      display: block;
      width: 100%;
      height: 100%; }
.tagline.top .container {
  padding: 2em 0 1.5em; }
.tagline.bottom p {
  padding: 1em 1em 2em; }

.recent .now {
  position: absolute;
  display: inline;
  top: 0;
  right: 0;
  font-size: 0.7em;
  background-color: #cccccc;
  color: #737373;
  padding: 1em 1.25em;
  height: 100%; }
  .recent .now.alert {
    color: white;
    background-color: #ff4a26; }

.list ul li {
  border-bottom: 1px solid #cccccc; }
  .list ul li:nth-child(even) {
    background-color: #f0f0f0; }
  .list ul li a {
    display: block;
    padding: 0.8em; }
    .list ul li a:hover {
      background-color: #ededed; }
    .list ul li a p {
      margin: 0;
      padding: 0;
      color: #999999; }

.pager ul {
  max-width: 48em;
  margin-left: auto;
  margin-right: auto;
  background-color: white; }
  .pager ul:after {
    content: "";
    display: table;
    clear: both; }
  .pager ul li {
    padding: 1em 0.25em; }
    .pager ul li.previous a, .pager ul li.next a {
      padding: 1em; }
    .pager ul li.previous {
      text-align: left;
      float: left;
      display: block;
      margin-right: 3.57866%;
      width: 48.21067%; }
      .pager ul li.previous:last-child {
        margin-right: 0; }
      .pager ul li.previous.disabled a {
        color: #999999; }
    .pager ul li.next {
      text-align: right;
      float: left;
      display: block;
      margin-right: 3.57866%;
      width: 48.21067%; }
      .pager ul li.next:last-child {
        margin-right: 0; }
      .pager ul li.next.disabled a {
        color: #999999; }

footer a:hover {
  text-decoration: underline; }
footer .totaltime {
  background-color: #ff4a26;
  text-align: center;
  padding: 1em;
  margin: 0;
  color: #fedf43; }
footer .colofon {
  background-color: white;
  text-align: center;
  font-size: 0.8em;
  padding: 2em 2em;
  margin: 0;
  color: #999999; }
  footer .colofon a {
    color: #333333; }

/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Image replacement
 */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px; }

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%; }

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
.hidden {
  display: none !important;
  visibility: hidden; }

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/*
 * Hide visually and from screenreaders, but maintain layout
 */
.invisible {
  visibility: hidden; }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
  *zoom: 1; }

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  /*
   * Don't show links for images, or javascript/internal links
   */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group;
    /* h5bp.com/t */ }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }
