{% block content %}
<footer class="footer">
	<div class="row">
		<div id="about" class="col-md-6">
			<h3>About</h3>
			<p>is a description lorem ipsum dolor sit amet what the app is about. And a link to the App Store: <a href="link-to-app-store" title="Get Standing in the App Store">App Store</a></p>
		</div>
		<div id="contact" class="col-md-6">
			<h3>Contact</h3>
			<a href="twitter"></a>
			<a href="email"></a>
		</div>
	</div>
	<p>&copy; <a href="http://hubbub.eu/">Hubbub</a> 2013&ndash;2014</p>
</footer>
{% endblock content %}