{% block content %}
<div id="footer">
	<p id="totaltime">{{ total_time }} of standing so far&hellip;</p>
	<p id="colofon"><strong>Standing</strong> is a <a href="http://hubbub.eu">Hubbub</a> experiment &middot; Read the <a href="#">announcement</a> &middot; Send us <a href="mailto:standing@hubbub.eu">email</a> &middot; Follow <a href="https://twitter.com/getstanding">@getstanding</a> &middot; <a href="https://itunes.apple.com/nl/app/standing/id868921889" onclick="trackOutboundLink('https://itunes.apple.com/nl/app/standing/id868921889'); return false;" title="Get Standing in the App Store">Get the app</a></p>
</div>
{% endblock content %}