{% block content %}

<!-- FOOTER -->
<footer>
	<div class="container">
		<p class="totaltime">{{ total_time }} of standing so far</p>
		<p class="colofon">Standing is a <a href="http://hubbub.eu" onclick="trackOutboundLink('http://hubbub.eu'); return false;">Hubbub</a> experiment &middot; Read the <a href="http://whatsthehubbub.nl/blog/2014/05/announcing-standing-an-app-for-playful-activism/" onclick="trackOutboundLink('http://whatsthehubbub.nl/blog/2014/05/announcing-standing-an-app-for-playful-activism/'); return false;">announcement</a> <br> Send us an <a href="mailto:standing@hubbub.eu" onclick="trackOutboundLink('mailto:standing@hubbub.eu'); return false;">email</a> &middot; Follow <a href="https://twitter.com/getstanding" onclick="trackOutboundLink('https://twitter.com/getstanding'); return false;">@getstanding</a></p>
	</div>
</footer>
<!-- END FOOTER -->

{% endblock content %}