{% extends "standbase/base.html" %}

{% block head %}Home{% endblock %}

{% block extrahead %}
{% endblock %}

{% block bodyid %}home{% endblock %}

{% block content %}

<div class="page-header">
	<h1>Standing <small>is an app for playful activism. <a href="#">Grab the app</a>, go outside and get standing for a cause.</small></h1>
</div>

<h2>Recent sessions</h2>

<div class="list-group" id="sessions">
	{% comment %}
	{% for session in active_sessions %}
		<a class="list-group-item active" id="session_{{ session.id }}"><span class="glyphicon glyphicon-time"></span> <span class="livetime">x seconds</span> for <strong>something</strong> <small>in {{ session.parsed_geocode.0 }}, {{ session.parsed_geocode.1 }} {{ session.datecreated|timesince }} ago</small></a>
	{% endfor %}
	{% endcomment %}

	{% for session in completed_sessions %}
		<a class="list-group-item completed" id="session_{{ session.id }}" href="{{ session.get_absolute_url }}" id="">{{ session.datefinished|timeuntil:session.datecreated }} for <strong>{{ session.topic }}</strong> <small>in {{ session.parsed_geocode.0 }}, {{ session.parsed_geocode.1 }} {{ session.datecreated|timesince }} ago</small></a>
	{% endfor %}
</div>

<div id="map"></div>

<h2>Trending causes</h2>

<div class="list-group">
{% for topic in trending_topics %}
	<a href="{{ topic.get_absolute_url }}" class="list-group-item">
		<h4 class="list-group-item-heading">{{ topic.name }}</h4>
		<p class="list-group-item-text">{{ topic.get_total_duration }}</p>
	</a>
{% endfor %}
</div>

{% include "standbase/footer.html" %}

{% endblock content %}

{% block extra_javascript %}
<script type="text/javascript">

	var active_sessions = {};

	var markers = null;

	$(document).ready(function() {
		// Update seconds on all the active sessions
		setInterval(updateCounters, 1000);

		setInterval(getCurrentState, 10000);

		// We need to get the current state to seed any active sessions (not doing those from django anymore)
		getCurrentState();
	});

	function getSeconds(s) {
		var now = new Date();
		var datecreated = new Date(s['datecreated']);

		var seconds = Math.round((now.getTime() - datecreated.getTime()) / 1000);

		return seconds;
	}

	function getDuration(s) {
		var datefinished = new Date(s['datefinished']);
		var datecreated = new Date(s['datecreated']);

		var seconds = Math.round((datefinished.getTime() - datecreated.getTime()) / 1000);

		return seconds
	}

	function updateCounters() {
		// Walk through all the active sessions and update the counters in #active_time_id
		for (var key in active_sessions) {

			var seconds = getSeconds(active_sessions[key]);

			$('#session_' + key + ' .livetime').text('' + seconds + ' seconds');
		}
	}

	// TODO change this to just format seconds
	function timeSince(timestring) {
		var date = new Date(timestring);

		var seconds = Math.floor((new Date() - date) / 1000);

		var interval = Math.floor(seconds / 31536000);

		if (interval > 1) {
			return interval + " years";
		}
		interval = Math.floor(seconds / 2592000);
		if (interval > 1) {
			return interval + " months";
		}
		interval = Math.floor(seconds / 86400);
		if (interval > 1) {
			return interval + " days";
		}
		interval = Math.floor(seconds / 3600);
		if (interval > 1) {
			return interval + " hours";
		}
		interval = Math.floor(seconds / 60);
		if (interval > 1) {
			return interval + " minutes";
		}
		return Math.floor(seconds) + " seconds";
	}

	var cycleIndex = 0;
	var currentSessionId = null;

	function cycle() {
		if (markers) {
			if (cycleIndex > markers.getLayers().length - 1) { cycleIndex = 0;}

			console.log('in cycle with index', cycleIndex);

			var marker = markers.getLayers()[cycleIndex];

			console.log('active marker', marker);

			$('#sessions A').removeClass('active');

			map.setZoom(16);
			map.panTo(marker.getLatLng());

			currentSessionId = marker.session_id;
			$('#session_' + marker.session_id).addClass('active');

			cycleIndex += 1;
		}

		setTimeout(cycle, 6000);
	}

	cycle();

	function getCurrentState() {
		console.log("Got new state");

		$.getJSON('/api/state', function(data, textStatus, jqXHR) {
			console.log(data);

			// Process incoming active sessions
			for (var i = 0; i < data['active_sessions'].length; i++) {
				var s = data['active_sessions'][i];

				if (s['id'] in active_sessions) {
					// The id is already in there
					// Probably nothing has to be done
				} else {
					// This session is new because it's not in the array anymore

					// Add it to the array
					active_sessions[s['id']] = s;

					var location = 'unknown location';
					if (s['parsed_geocode']) {
						location = s['parsed_geocode'][1];
					}

					// Render it on the top of the list
					$('#sessions A:first').before('<a class="list-group-item" id="session_' + s['id'] + '"><span class="glyphicon glyphicon-time"></span> <span class="livetime">' + getSeconds(s) + ' seconds</span> for <strong>something</strong> <small>in ' + location + ' ' + timeSince(s['datecreated']) + ' ago</small></a>');
				}
			}

			// Cull active sesssions we still have which aren't active anymore
			// By checking which keys in our currently active sessions are not in the incoming
			for (var key in active_sessions) {

				var present = false;
				for (var i = 0; i < data['active_sessions'].length; i++) {
					if (data['active_sessions'][i]['id'] == key) {
						present = true;
						break;
					}
				}

				if (!present) {
					// Remove this id from sessions
					$('#session_' + key).slideUp(function() {
						// We need to actually remove it to maintain some markup 
						$('#session_' + key).remove();
					});
					// And from the local store
					delete active_sessions[key];
				}
			}

			// Process incoming completed sessions
			$('#sessions .completed').remove();
			for (var i = 0; i < data['completed_sessions'].length; i++) {
				var s = data['completed_sessions'][i];

				var location = 'some place';
				if (s['parsed_geocode']) {
					location = s['parsed_geocode'][1];
				}

				{% comment %}
				// $('#sessions A:first').before('<a class="list-group-item active" id="session_' + s['id'] + '"><span class="livetime">' + getSeconds(s) + ' seconds</span> for <strong>something</strong> <small>in ' + location + ' ' + timeSince(s['datecreated']) + ' ago</small></a>');
				{% endcomment %}

				$('#sessions').append('<a class="list-group-item completed" id="session_' + s['id'] + '" href="' + s['get_absolute_url'] + '" id="">' + getDuration(s) + ' seconds for <strong>' + s['topic__name'] + '</strong> <small>in ' + location + ' ' + timeSince(s['datecreated']) + ' ago</small></a>');
			}

			// After replacing the entire DOM set the active link back
			// Otherwise we get a nasty flicker
			if (currentSessionId) {
				$('#session_' + currentSessionId).addClass('active');
			}


			// Update map
			// TODO don't replace all markers, it creates a nasty stutter
			markers.clearLayers();

			for (var key in active_sessions) {
				var marker = L.marker([active_sessions[key]['lat'], active_sessions[key]['lon']]);

				// Store id in the marker object as well
				marker.session_id = active_sessions[key]['id'];

				markers.addLayer(marker);
			}

			for (var i = 0; i < data['completed_sessions'].length; i++) {
				var s = data['completed_sessions'][i];

				var marker = L.marker([s['lat'], s['lon']]);

				// Store id in the marker object as well
				marker.session_id = s['id'];

				markers.addLayer(marker);
			}

			// if (markerList.length > 0) {
			// 	markers = new L.featureGroup(markerList);
			// 	markers.addTo(map);
			// 	map.fitBounds(markers);
			// }

		});
	}

</script>
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css" />
<script src="{{ STATIC_URL }}js/leaflet/leaflet.js"></script>
<script src="{{ STATIC_URL }}js/leaflet-layer-plugins/tile/Bing.js"></script>
<script type="text/javascript">
	// initialise map
	var map = L.map('map', {
		scrollWheelZoom: false, 
		dragging: false
	});
	
	// set position and zoom level
	map.setView([46.0, 10.0], 4);

	// set bing layer
	var bing = new L.BingLayer("AuqUZRCmpMVOY8D8je-TB8URkqLGVeFx8jpFNURcbNmfeQaA-k0wW7kWIAq__HzG");
	map.addLayer(bing);

	// add markers
	markers = new L.featureGroup();
	markers.addTo(map);

	// if (!$.isEmptyObject(active_sessions)) {
	// 	// var map = L.map('map').setView([getActiveSession()['lat'], getActiveSession()['lon']], 13);

	// 	// L.tileLayer('http://{s}.tile.cloudmade.com/d835804aba7d4dea8039b3f6c6b8b23e/997/256/{z}/{x}/{y}.png', {
	// 	// 	attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://cloudmade.com">CloudMade</a>',
	// 	// 	maxZoom: 18
	// 	// }).addTo(map);

	// 	// map.addLayer(bing);

	// 	var markers = [];

	// 	for (var key in active_sessions) {
	// 		var s = active_sessions[key];
	// 		markers.push(L.marker([s['lat'], s['lon']]).addTo(map));
	// 	}

	// 	var group = new L.featureGroup(markers);
	// 	map.fitBounds(group.getBounds());
	// }
</script>
{% endblock extra_javascript %}