{% extends "standbase/base.html" %}

{% block head %}Home{% endblock %}

{% block extrahead %}
{% endblock %}

{% block bodyid %}home{% endblock %}

{% block content %}

<div class="page-header">
	<h1>Standing <small>is an app for playful activism. <a href="https://itunes.apple.com/app/standing/id868921889" onclick="trackOutboundLink('https://itunes.apple.com/app/standing/id868921889'); return false;" title="Get Standing in the App Store">Grab the app</a>, go outside and get standing for a cause.</small></h1>
</div>

<div class="recent">
	<div class="header clearfix">
		<h2>Recent sessions</h2>
		<div class="count">
			<p class="label label-default">
				<span id="active_count">{{ active_sessions|length }}</span> active sessions at the moment</p>
		</div>
	</div>
	<div id="map">
		<div class="controls">
			<a href="#" class="pull-left" id="previous_button">
				<div class="btn btn-primary">
					<span class="glyphicon glyphicon-chevron-left"></span>
				</div>
			</a>
			<a href="#" class="pull-right" id="next_button">
				<div class="btn btn-primary">
					<span class="glyphicon glyphicon-chevron-right"></span>
				</div>
			</a>
		</div>
	</div>
</div>

<div class="trending">
	<h2>Trending causes</h2>
	<div class="list-group">
	{% for topic in trending_topics %}
		<a href="{{ topic.get_absolute_url }}" class="list-group-item">
			<h4 class="list-group-item-heading">{{ topic.name|capfirst }}</h4>
			<p class="list-group-item-text">{{ topic.get_total_duration }}</p>
		</a>
	{% endfor %}
	</div>
</div>

{% include "standbase/footer.html" %}

{% endblock content %}

{% block extra_javascript %}
<script type="text/javascript">

	var sessions = [];

	var markers = null;

	var sessionOnDisplay = null;
	var sessionIndex = 0;

	$(document).ready(function() {
		$('#previous_button').click(function(e) {
			previous();
			return false;
		});

		$('#next_button').click(function(e) {
			next();
			return false;
		});

		setInterval(updateCounters, 1000);

		// Refresh the current state
		setInterval(getCurrentState, 10000);

		// We need to get the current state to seed any active sessions (not doing those from django anymore)
		getCurrentState();
	});

	/*
	 * Updates the time on the session currently in the picture if it is an active session.
	 */
	function updateCounters() {
		// Instead of updating the thing why not redisplay the bubble entirely?
		// Fixes a lot of issues including that of the state of the session changing.
		$('.leaflet-popup-content').html(getPopupHTMLForSession(sessions[sessionIndex]));
	}

	var marker = null;

	function next() {
		sessionIndex += 1;

		if (sessions.length > 0 && sessionIndex > sessions.length-1) {
			sessionIndex = 0;
		}

		sessionOnDisplay = sessions[sessionIndex];
		displaySession(sessionOnDisplay);
	}

	function previous() {
		sessionIndex -= 1;

		if (sessions.length > 0 && sessionIndex < 0) {
			sessionIndex = sessions.length-1;
		}

		sessionOnDisplay = sessions[sessionIndex];
		displaySession(sessionOnDisplay);
	}

	function getPopupHTMLForSession(s) {
		var activeSession = false;

		// TODO turn this into a function
		var secondsStood = 0;
		if (s['datefinished'] == null) {
			// Check whether the session we are doing is the active one
			activeSession = true;

			secondsStood = Math.floor((new Date() - new Date(s['datecreated'])) / 1000);
		} else {
			secondsStood = Math.floor((new Date(s['datefinished']) - new Date(s['datecreated'])) / 1000);
		}

		// Variable markup for active and non active session
		var linkOpen = '';
		var linkClose = '';
		var timeIcon = '';
		if (!activeSession) {
			linkOpen = '<a href="' + s['get_absolute_url'] + '">';
			linkClose = '</a>';
		} else {
			timeIcon = '<span class="glyphicon glyphicon-time"></span>';
		}

		// TODO turn this into a function
		var location = "";
		if (s['parsed_geocode'] == null || (s['parsed_geocode'][0] == null && s['parsed_geocode'][1] == null)) {
			// No geocode, do nothing
		} else if (s['parsed_geocode'][0] == null || s['parsed_geocode'][0] == '') {
			location = "in " + s['parsed_geocode'][1];
		} else if (s['parsed_geocode'][1] == null || s['parsed_geocode'][1] == '') {
			location = "in " + s['parsed_geocode'][0];
		} else {
			location = "in " + s['parsed_geocode'][0] + ", " + s['parsed_geocode'][1];
		}

		// TODO turn this into a function
		var secondsAgo = Math.floor((new Date() - new Date(s['datecreated'])) / 1000);
		var parts = listDuration(secondsAgo);
		var timeAgo = "";
		if (parts.length > 1) {
			timeAgo = parts[0] + ' and ' + parts[1];
		} else {
			timeAgo = parts[0];
		}

		var popupHTML = '<p>' + timeIcon + ' ' + linkOpen + '<span class="livetime" id="duration_' + s['id'] + '">' + formatDuration(secondsStood) + '</span> for <strong>' + s['topic__name'] + '</strong>' + linkClose + ' <small> ' + location + ' ' + timeAgo + ' ago</small></p>';

		return popupHTML;
	}

	function displaySession(s) {
		console.log('display session', s);

		map.removeLayer(marker);

		marker = L.marker([s['lat'], s['lon']]).addTo(map);

		map.setZoom(16);
		map.panTo(marker.getLatLng());

		// Create and bind the popups for later
		var popup = L.popup({closeButton: false}).setLatLng(marker.getLatLng()).setContent(getPopupHTMLForSession(s));
		marker.bindPopup(popup);

		setTimeout(function() {
			map.openPopup(marker.getPopup());
		}, 100);
	}

	function getCurrentState() {
		$.getJSON('/api/state', function(data, textStatus, jqXHR) {
			console.log("Got new state:", data);

			sessions = [];

			// Process incoming active sessions
			$('#active_count').html(data['active_sessions'].length);

			for (var i = 0; i < data['active_sessions'].length; i++) {
				var s = data['active_sessions'][i];
				sessions.push(s);
			}

			for (var i = 0; i < data['completed_sessions'].length; i++) {
				var s = data['completed_sessions'][i];
				sessions.push(s);
			}

			// Check if the current session is one of the sessions in the new set
			if (sessionOnDisplay) {
				var found = false;

				for (var i = 0; i < sessions.length; i++) {
					if (sessionOnDisplay['id'] == sessions[i]['id']) {
						found = true;
						sessionOnDisplay = sessions[i];
						sessionIndex = i;

						break;
					}
				}

				if (!found) {
					// Insert the current session at the beginning of the list
					sessions.splice(0, 0, sessionOnDisplay);
					sessionIndex = 0;
				}
			}

			// Highlighting active badge
			var n = parseInt($('#active_count').text());
			if (n >= 1) {
				$('#active_count').parent().removeClass('label-default');
				$('#active_count').parent().addClass('label-danger');
			} else {
				$('#active_count').parent().removeClass('label-danger');
				$('#active_count').parent().addClass('label-default');
			}
		});
	}

</script>

<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css" />

<script src="{{ STATIC_URL }}js/util.js"></script>

<script src="{{ STATIC_URL }}js/leaflet/leaflet.js"></script>
<script src="{{ STATIC_URL }}js/leaflet-layer-plugins/tile/Bing.js"></script>
<script type="text/javascript">
	// initialise map
	var map = L.map('map', {
		dragging: false,
		touchZoom: false,
		scrollWheelZoom: false,
		doubleClickZoom: false,
		tap: false,
		closePopupOnClick: false,
		zoomControl: false,
		attributionControl: false
	});
	
	// set position and zoom level
	map.setView([getRandomArbitrary(-90.0, 90.0), getRandomArbitrary(-180.0, 180.0)], 4);

	// set bing layer
	var bing = new L.BingLayer("AuqUZRCmpMVOY8D8je-TB8URkqLGVeFx8jpFNURcbNmfeQaA-k0wW7kWIAq__HzG");
	map.addLayer(bing);

	// Create a stub session to put in sessionOnDisplay
	var s = {};
	{% if active_sessions %}
		marker = L.marker([{{ active_sessions.0.lat }}, {{ active_sessions.0.lon }}]).addTo(map);

		s['id'] = '{{ active_sessions.0.id }}';
		s['lat'] = '{{ active_sessions.0.lat }}';
		s['lon'] = '{{ active_sessions.0.lon }}';
		s['datecreated'] = '{{ active_sessions.0.datecreated|date:"Y-m-d" }}T{{ active_sessions.0.datecreated|date:"H:i:s.u" }}Z';
		s['datefinished'] = null;
		s['parsed_geocode'] = ["{{ active_sessions.0.parsed_geocode.0 }}", "{{ active_sessions.0.parsed_geocode.1 }}"];
		s['get_absolute_url'] = '{{ active_sessions.0.get_absolute_url }}';
		s['topic__name'] = '{% if active_sessions.0.topic.public %}{{ active_sessions.0.topic.name }}{% else %}something{% endif %}';
	{% elif completed_sessions %}
		marker = L.marker([{{ completed_sessions.0.lat }}, {{ completed_sessions.0.lon }}]).addTo(map);

		s['id'] = '{{ completed_sessions.0.id }}';
		s['lat'] = '{{ completed_sessions.0.lat }}';
		s['lon'] = '{{ completed_sessions.0.lon }}';
		s['datecreated'] = '{{ completed_sessions.0.datecreated|date:"Y-m-d" }}T{{ completed_sessions.0.datecreated|date:"H:i:s.u" }}Z';
		s['datefinished'] = '{{ completed_sessions.0.datefinished|date:"Y-m-d" }}T{{ completed_sessions.0.datefinished|date:"H:i:s.u" }}Z';
		s['parsed_geocode'] = ["{{ completed_sessions.0.parsed_geocode.0 }}", "{{ completed_sessions.0.parsed_geocode.1 }}"];
		s['get_absolute_url'] = '{{ completed_sessions.0.get_absolute_url }}';
		s['topic__name'] = '{{ completed_sessions.0.topic.name }}';
	{% endif %}

	map.setZoom(16);

	sessionOnDisplay = s;

	displaySession(s);
</script>
{% endblock extra_javascript %}