{% extends "standbase/base.html" %}

{% block head %}Now{% endblock %}

{% block extrahead %}
{% endblock %}

{% block bodyid %}now{% endblock %}

{% block content %}

<div id="map"></div>

<p class="label label-default">Number of people standing right now: <span id="active_count">0</span></p>

{% include "standbase/footer.html" %}

{% endblock content %}

{% block extra_javascript %}
<script type="text/javascript">

	var markers = {};

	$(document).ready(function() {
		// Refresh the current state
		getCurrentState();
		// TODO make this refresh every two seconds
		setInterval(getCurrentState, 10000);
	});

	function getCurrentState() {
		$.getJSON('/api/state', function(data, textStatus, jqXHR) {
			console.log("Got new state:", data);

			// Process incoming active sessions
			$('#active_count').html(data['active_sessions'].length);

			if (data['active_sessions'].length > 0) {
				$('#active_count').parent().removeClass('label-default');
				$('#active_count').parent().addClass('label-danger');
			} else {
				$('#active_count').parent().removeClass('label-danger');
				$('#active_count').parent().addClass('label-default');
			}

			for (var i = 0; i < data['active_sessions'].length; i++) {
				var s = data['active_sessions'][i];

				if (markers.hasOwnProperty(s['id'])) {
					// Marker already exists
					// Do nothing
				} else {
					// New create marker

					console.log("Creating marker for session", s);

					var marker = L.marker([s['lat'], s['lon']]).addTo(map);

					markers[s['id']] = marker;

					map.panTo(marker.getLatLng());
				}
			}

			// Go through markers and remove those that are no longer active
			for (var sessionId in markers) {
				var found = false;

				for (var i = 0; i < data['active_sessions'].length; i++) {
					if (data['active_sessions'][i]['id'] == sessionId) {
						found = true;
						break;
					}
				}

				if (!found) {
					map.removeLayer(markers[sessionId]);
					delete markers[sessionId];
				}
			}

		});
	}

</script>

<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css" />

<script src="{{ STATIC_URL }}js/util.js"></script>

<script src="{{ STATIC_URL }}js/leaflet/leaflet.js"></script>
<script src="{{ STATIC_URL }}js/leaflet-layer-plugins/tile/Bing.js"></script>
<script type="text/javascript">
	// initialise map
	var map = L.map('map', {
		dragging: false,
		touchZoom: false,
		scrollWheelZoom: false,
		doubleClickZoom: false,
		tap: false,
		closePopupOnClick: false,
		zoomControl: false,
		attributionControl: false
	});
	
	// set position and zoom level
	map.setView([getRandomArbitrary(-90.0, 90.0), getRandomArbitrary(-180.0, 180.0)], 4);

	// set bing layer
	var bing = new L.BingLayer("AuqUZRCmpMVOY8D8je-TB8URkqLGVeFx8jpFNURcbNmfeQaA-k0wW7kWIAq__HzG");
	map.addLayer(bing);

	map.setZoom(2);
</script>
{% endblock extra_javascript %}