{% extends "standbase/base.html" %}

{% block head %}{{ s.get_duration }} for {{ s.topic }}{% endblock head %}

{% block extrahead %}
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css" />
<script src="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.js"></script>
<script src="{{ STATIC_URL }}js/leaflet-layer-plugins/tile/Bing.js"></script>
{% endblock extrahead %}

{% block bodyid %}session{% endblock %}

{% block content %}

{% include "standbase/tagline_small.html" %}

<!-- STAND NAME -->
<div class="title">
	<div class="container">
		<h2>
			{{ s.get_duration }}
			for 
			{% if s.topic.public %}
				<a href="{% url 'topic' s.topic.slug %}">{{ s.topic }}</a>
			{% else %}
				{{ s.topic }}
			{% endif %}
			<span title="{{ s.datecreated }}">in {{ s.rendered_geocode }} {{ s.datecreated|timesince }} ago</span>
		</h2>
	</div>
</div>
<!-- END STAND NAME -->

<!-- MAP -->
<div class="location">
	<div class="container">
		<div class="map-container">
			<div id="map"></div>
		</div>
	</div>
</div>
<!-- END MAP -->

{% include "standbase/tagline_footer.html" %}

{% include "standbase/footer.html" %}

{% endblock content %}

{% block extra_javascript %}
<script type="text/javascript">
	// initialise map
	var map = L.map('map', {
		dragging: false,
		touchZoom: false,
		scrollWheelZoom: false,
		doubleClickZoom: false,
		tap: false,
		closePopupOnClick: false,
		zoomControl: false,
		attributionControl: false
	});

	// set position and zoom level
	map.setView([{{ s.lat }}, {{ s.lon }}], 16);

	// set bing layer
	var bing = new L.BingLayer("AuqUZRCmpMVOY8D8je-TB8URkqLGVeFx8jpFNURcbNmfeQaA-k0wW7kWIAq__HzG");
	map.addLayer(bing);

	// L.tileLayer('http://{s}.tile.cloudmade.com/d835804aba7d4dea8039b3f6c6b8b23e/997/256/{z}/{x}/{y}.png', {
	// 	attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://cloudmade.com">CloudMade</a>',
	// 	maxZoom: 18
	// }).addTo(map);

	// custom pin
	var PinMarker = L.Icon.Default.extend({
		options: {
			iconUrl: '{{ STATIC_URL }}img/marker-icon.png',
			iconRetinaUrl: '{{ STATIC_URL }}img/marker-icon-2x.png',
			iconSize: [32, 32],
			iconAnchor: [16, 16],
			popupAnchor: [0, 0],
			shadowUrl: '{{ STATIC_URL }}img/marker-shadow.png',
			shadowRetinaUrl: '{{ STATIC_URL }}img/marker-shadow-2x.png',
			shadowSize: [36, 36],
			shadowAnchor: [18, 18]
		}
	});
	var pinMarker = new PinMarker();

	// add markers
	var marker = L.marker([{{ s.lat }}, {{ s.lon }}], {icon: pinMarker}).addTo(map);
</script>
{% endblock extra_javascript %}