{% block content %}

<!-- MASTHEAD -->
<section class="tagline" role="banner">
	<div class="container">
		<h1 id="logo" class="present">
			<a href="/" title="" id="homelink" rel="home">
				<img src="" alt="Standing">
			</a>
		</h1>
		<h2>Standing</h2>
		<p>is an app for playful activism. <a href="https://itunes.apple.com/app/standing/id868921889" onclick="trackOutboundLink('https://itunes.apple.com/app/standing/id868921889'); return false;" title="Get Standing in the App Store">Grab the app</a>, go outside and get standing for a cause.</p>
	</div>
</section>
<!-- END TAGLINE -->

{% endblock content %}