{% block content %}

<!-- MASTHEAD -->
<section class="tagline footer" role="banner">
	<div class="container">
		<h2>Standing is an app for playful activism</h2>
		<p><a href="https://itunes.apple.com/app/standing/id868921889" onclick="trackOutboundLink('https://itunes.apple.com/app/standing/id868921889'); return false;" title="Get Standing in the App Store">Grab the app</a>, go outside, and get standing for a cause.</p>
		<a href="https://itunes.apple.com/app/standing/id868921889" onclick="trackOutboundLink('https://itunes.apple.com/app/standing/id868921889'); return false;" title="Get Standing in the App Store" class="app-store-badge">
			<img src="{{ STATIC_URL }}img/badge-app-store.svg" alt="Standing in the App Store">
		</a>
	</div>
</section>
<!-- END TAGLINE -->

{% endblock content %}