{% extends "standbase/base.html" %}

{% block head %}{{ t.name|capfirst }}{% endblock %}

{% block bodyid %}cause{% endblock %}

{% block content %}

<!-- TOPIC NAME -->
<div class="title">
	<div class="container">
		<h2>{{ t.name|capfirst }}<span>{{ t.get_total_duration }} of standing in total</span></h2>
	</div>
</div>
<!-- END TOPIC NAME -->

<!-- TOPIC LIST -->
<div class="list">
	<div class="container">
		<ul>
			{% for session in sessions %}
			<li>
				<a href="{{ session.get_absolute_url }}">
					{{ session.get_duration }} <span>in {{ session.rendered_geocode }} {{ session.datecreated|timesince }} ago</span>
				</a>
			</li>
			{% endfor %}
		</ul>
	</div>
</div>
<!-- END TOPIC LIST -->

<!-- PAGER -->
<div class="pager">
	<div class="container">
		<ul class="pager">
			{% if sessions.has_previous %}
			<li class="previous"><a href="?page={{ sessions.previous_page_number }}">Newer</a></li>
			{% else %}
			<li class="previous disabled"><a>Newer</a></li>
			{% endif %}
			<!-- <p>Page {{ sessions.number }} of {{ sessions.paginator.num_pages }}</p> -->
			{% if sessions.has_next %}
			<li class="next"><a href="?page={{ sessions.next_page_number }}">Older</a></li>
			{% else %}
			<li class="next disabled"><a>Older</a></li>
			{% endif %}
		</ul>
	</div>
</div>
<!-- END -->

{% include "standbase/tagline_footer.html" %}

{% include "standbase/footer.html" %}

{% endblock content %}

{% block extra_javascript %}
{% endblock extra_javascript %}