{% extends "standbase/base.html" %}

{% block head %}for {{ t.name }}{% endblock %}
{% block content %}

<div class="page-header">
<h1>For <span class="cause text-primary">{{ t.name }}</span> <small>{{ duration }} seconds in total</small></h1>
</div>

<div class="list-group">
{% for session in sessions %}
	<a class="list-group-item" href="{{ session.get_absolute_url }}">{{ session.datefinished|timeuntil:session.datecreated }} <small>near {{ session.parsed_geocode.0 }}, {{ session.parsed_geocode.1 }} {{ session.datecreated|timesince }} ago</small></a>
<!-- <ul class="pager"></ul> -->
{% endfor %}
</div>

{% if sessions.has_previous %}
	<li class="previous"><a href="?page={{ sessions.previous_page_number }}">&larr; Older</a></li>
{% endif %}

<p>Page {{ sessions.number }} of {{ sessions.paginator.num_pages }}</p>

{% if sessions.has_next %}
	<li class="next"><a href="?page={{ sessions.next_page_number }}">Newer &rarr;</a></li>
{% endif %}

{% include "standbase/footer.html" %}

{% endblock content %}

{% block extra_javascript %}
{% endblock extra_javascript %}