{% extends "standbase/base.html" %}

{% block head %}for {{ t.name }}{% endblock %}
{% block content %}

<h1><span class="cause">{{ t.name|capfirst }}</span></h1>
<p>People have stood a total of {{ duration }} seconds for this cause.</p>

<div class="list-group">
{% for session in sessions %}
	<a class="list-group-item" href="{{ session.get_absolute_url }}">{{ session.datefinished|timeuntil:session.datecreated }} for <strong>{{ session.topic }}</strong> <small>{{ session.datecreated|timesince }} ago near {{ session.parsed_geocode.0 }}, {{ session.parsed_geocode.1 }}</small></a>
</div>
<!-- <ul class="pager"></ul> -->
{% endfor %}

{% if sessions.has_previous %}
	<li class="previous"><a href="?page={{ sessions.previous_page_number }}">&larr; Older</a></li>
{% endif %}

<p>Page {{ sessions.number }} of {{ sessions.paginator.num_pages }}</p>

{% if sessions.has_next %}
	<li class="next"><a href="?page={{ sessions.next_page_number }}">Newer &rarr;</a></li>
{% endif %}

{% include "standbase/footer.html" %}

{% endblock content %}

{% block extra_javascript %}
{% endblock extra_javascript %}