/* ==========================================================================
   Custom styles
   ========================================================================== */

html {
	background-color: $base-background-color;
}

.container {
	position: relative;
	@include outer-container;
}

h2 {
	position: relative;
	display: block;
	padding: 0.15em 0.4em 0.15em;
	font-size: 1.5em;
	background-color: rgb(255, 255, 255);
	//border-top: 1px solid $light-gray;
}

.title {
	h2 {
		color: $red;
		font-size: 2em;
		line-height: 1em;
		padding-top: 0.4em;
		a {
			border-bottom: 3px solid $red;
		}
		span {
			font-size: 0.75em;
			display: block;
			padding-top: 0.25em;
			padding-bottom: 0.25em;
			color: $dark-gray;
		}
	}
}

.map-container {
	position: relative;
	width: 100%;
	padding-bottom: 65%;
	background-color: #000;
}

#map {
	position: absolute;
	cursor: default;
	z-index: 1;
	width: 100%;
	height: 100%;
	.controls {
		display: inline;
		overflow: hidden;
		position: absolute;
		z-index: 2;
		height: 50px;
		bottom: 10px;
		right: 10px;
		a {
			position: relative;
			display: block;
			float: right;
			color: $red;
			text-decoration: none;
			height: 50px;
			width: 50px;
			background-color: rgb(255, 255, 255);
			&:hover {
				background-color: darken($yellow, 8);
			}
			img {
				position: absolute;
				width: 18px;
				height: 28px;
				top: 50%;
				left: 50%;
				margin-top: -14px;
				margin-left: -9px;
			}
		}
		#previous_button {
			//border-right: 1px solid $medium-gray;
			margin-right: 2px;
			img {
				margin-left: -11px;
			}
		}
		#next_button {
			img {
				@include transform(rotate(180deg));
			}
		}
	}
}

.leaflet-container {
	font: 0.8em/1em $monospaced !important;
}

.leaflet-popup {
	max-width: 300px;
}

.leaflet-popup-content-wrapper {
	border-radius: 0 !important;
	p {
		a {
			color: $red;
			&:hover {
				//text-decoration: underline;
			}
		}
	}
}

.tagline {
	.container {
		background-color: $yellow;
		@include outer-container;
		padding: 2em 0;
		#logo {
			a {
				display: block;
				width: 60px;
				height: 60px;
				margin: 0 auto;
				img {
					display: block;
					width: 100%;
					height: 100%;
				}
			}
		}
		p {
			@include span-columns(6);
			@include shift(1);
			text-align: center;
			padding: 1em 1em 0;
			color: $red;
			@include media($mobile) {
				@include span-columns(4);
				@include shift(0);
			}
			a {
				text-decoration: underline;
			}
		}
		.app-store-badge {
			clear: both;
			overflow: hidden;
			display: block;
			width: 113px;
			height: 40px;
			margin: 1em auto 0;
			img {
				display: block;
				width: 100%;
				height: 100%;
			}
		}
	}
	&.top {
		.container {
			padding: 2em 0 1.5em;
		}
	}
	&.footer {
		p {
			padding: 1em 1em 1em;
		}
	}
	&.small {
		.container {
			background-color: $yellow;
			@include outer-container;
			padding: 0.75em 0;
			#logo {
				a {
					display: block;
					width: 30px;
					height: 30px;
					margin: 0 auto;
					img {
						display: block;
						width: 100%;
						height: 100%;
					}
				}
			}
		}
	}
}

.recent {
	.now {
		position: absolute;
		display: inline;
		top: 0;
		right: 0;
		font-size: 0.7em;
		font-weight: 800;
		background-color: $blue;
		color: rgb(255, 255, 255);
		padding: 1em 1.25em;
		height: 100%;
		&.alert {
			background-color: $red;
		}
		@include media($mobile) {
			position: relative;
			display: block;
			width: 100%;
			padding: 0.5em 1.25em;
			margin: 0;
		}
	}
}

.list {
	ul {
		border-top: 1px solid $base-background-color;
		background-color: rgb(255, 255, 255);
		li {
			border-bottom: 1px solid $base-background-color;
			&:first-child {
				//border-top: 1px solid $light-gray;
			}
			&:nth-child(even) {
				//background-color: darken($base-background-color, 5);
			}
			a {
				display: block;
				padding: 0.8em;
				&:hover {
					color: rgb(255, 255, 255);
					background-color: $red;
					h4 {
						color: rgb(255, 255, 255);
					}
					p {
						color: rgb(255, 255, 255);
					}
				}
				p {
					margin: 0;
					padding: 0;
					color: $medium-gray;
				}
			}
		}
	}
}

.pager {
	ul {
		@include outer-container;
		//overflow: hidden;
		//background-color: white;
		li {
			padding: 1em 0.25em;
			&.previous, &.next {
				a {
					padding: 1em;
				}
			}
			&.previous {
				text-align: left;
				@include span-columns(4);
				&.disabled {
					a {
						color: $medium-gray;
					}
				}
			}
			&.next {
				text-align: right;
				@include span-columns(4);
				&.disabled {
					a {
						color: $medium-gray;
					}
				}
			}
		}
	}
}

footer {
	a {
		&:hover {
			text-decoration: underline;
		}
	}
	.totaltime {
		font-family: $headline;
		font-size: 1.25em;
		background-color: $red;
		text-align: center;
		padding: 0.5em;
		margin: 0;
		color: rgb(255, 255, 255);
	}
	.colofon {
		background-color: rgb(255, 255, 255);
		text-align: center;
		font-size: 0.8em;
		padding: 2em 2em;
		margin: 0;
		color: $medium-gray;
		a {
			color: $dark-gray;
		}
	}
}